.data
*/__pycache__/
*/.pytest_cache/
*/.vscode/
*/.git/
*/.idea/
*/.venv/
*/.mypy_cache/
*/.pytest_cache/
*/.coverage
*/.DS_Store
*/.vscode/
*/.vscode-server
.env*
.chainlit
.data
.gitignore
.dockerignore
Dockerfile